@import url('fonts.css');

body,
html {
    background-color: #EEF3F6;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button {
    all: unset;
    cursor: pointer;
    line-height: 0;
}

.none {
    display: none !important;
}

.open {
    display: flex !important;
}

.btn-back {
    display: none;
}

.btn-more {
    display: none;
}

.btn-closechat {
    display: none;
}

.modal-delete, 
.modal-edit,
.modal-addchat,
.modal-adduser {
    display: none;
}
.modal-delete::before,
.modal-edit::before,
.modal-addchat::before,
.modal-adduser::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: .7;
    z-index: 9999;
    left: 0;
    top: 0;
    background-color: black;
}

.modal {
    position: fixed;
    border: 1px solid black;
    z-index: 99999;
    opacity: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    overflow-y: hidden;
}

.modal-delete__wrap {
    width: 400px;
    padding: 34px 32px;
}


.modal__text {
    color: #000;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: normal;
    margin: 44px 0 32px;
}

.modal__bottom {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modal__btn {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;

    padding: 14px 30px;
    border-radius: 5px; 
}

.modal__btn--green {
    border: 1px solid #52B147;
    color: black;
}

.modal__btn--red {
    background: linear-gradient(90deg, #E03A1F 1.64%, #FC704C 100%);
    color: #FFF;
}

.modal__close--close {
    position: absolute;
    top: 32px;
    right: 34px;
}
/*  */
.modal-edit__wrap {
    width: 400px;
    padding: 34px 32px;
}
.modal-edit__text {
    color: #000;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
}

.modal-edit__form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.modal__input {
    border-radius: 5px;
    height: 45px;
    padding: 10px;
    border: 1px solid #DEE2EB;
    outline: none;
}

.modal__input::placeholder {
    color: #6F8EA1;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}

.modal__btn--save {
    margin: 0 auto;
    margin-top: 30px;
    width: fit-content;
    color: #fff;
    background: linear-gradient(53deg, #02553D 14%, #50AE46 84.49%), linear-gradient(90deg, #E03A1F 1.64%, #FC704C 100%);
}
/*  */
.modal-addchat__wrap, .modal-adduser__wrap {
    width: 340px;
    top: 100px !important;
    transform: translate(-50%, 0);
}

.modal-addchat__top, .modal-adduser__top {
    padding: 20px;
    border-bottom: 1px solid #DEE2EB;
}

.modal-addchat__head, .modal-adduser__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-addchat__head > p, .modal-adduser__head > p {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
}

.modal-addchat__input-wrap, .modal-adduser__input-wrap {
    margin-top: 20px;
    position: relative;
}

.modal-addchat__input-wrap > button,
.modal-adduser__input-wrap > button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.modal-addchat__input, .modal-adduser__input {
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    border: 1px solid #DEE2EB;
    outline: none;
}

.modal-addchat__input::placeholder,
.modal-adduser__input::placeholder {
    color: #6F8EA1;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}

.modal-addchat__bottom, .modal-adduser__bottom {
    margin-top: auto;
    padding: 20px;
}

.modal-addchat__button, .modal-adduser__button {
    align-self: flex-end;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    padding: 14px 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    background: linear-gradient(47deg, #02553D 0%, #50AE46 100.43%), #52B147;
}

.modal-addchat__items, .modal-adduser__items {
    height: 400px;
    overflow-y: scroll;
}
.modal-addchat__item, .modal-adduser__item {
    display: grid;
    gap: 20px;
    grid-template-columns: 36px auto 20px;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid #DEE2EB;
}

.modal-addchat__item > p, .modal-adduser__item > p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    height: 19px;
}


.container {
    padding: 200px 25px 45px 130px;
}

.window-chat {
    width: 100%;
    height: calc(100vh - 245px);

    display: flex;
    gap: 25px;

}

.window-chat__left-sidebar {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    max-width: 400px;
    height: 100%;
}

.window-chat__items {
    max-height: 500px;
    overflow: auto;
}

.window-chat__item {
    padding: 20px;

    /* border-top: 1px solid #DEE2EB; */
    border-bottom: 1px solid #DEE2EB;
}

.window-chat__msg-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.window-chat__date {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    color: #52B147;

}

.window-chat__item--list {
    display: grid;
    align-items: center;
    grid-template-columns: 8px 36px auto;
    gap: 20px;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 50ms;
    cursor: pointer;
}
.window-chat__item--list:hover {
    background-color: #f5f4f4;
}

.window-chat__item--group {
    display: grid;
    align-items: center;
    grid-template-columns: 36px auto 20px;
    gap: 20px;
}

.window-chat__img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.window-chat__light > div {
    background-color: #52B147;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    flex-shrink: 0;
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.window-chat__subtitle {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    height: 19px;
}

.window-chat__edit {
    display: flex; 
    gap: 8px;
}

.window-chat__text {
    color: #6F8EA1;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: normal;
}

.window-chat__wrapper {
    background-color: white;
    flex-grow: 1;
}

.window-chat__info {
    display: grid;
    grid-template-columns: 36px auto;
    column-gap: 20px;
}

.window-chat__img--grid {
    grid-row-start: 1;
    grid-row-end: 3;
}

.window-chat__header {
    width: 100%;
    height: 64px;
    flex-shrink: 0;
}

.window-chat__header--main {
    display: flex;
    gap: 20px;
    /* justify-content: space-between; */
    align-items: center;
    padding: 14px 20px;
}

.window-chat__group-btn {
    display: flex;
    align-items: center;
    gap: 14px;
    margin-left: auto;
}

.window-chat__header--line {
    border-bottom: 1px solid #DEE2EB;
}

.window-chat__header--list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.window-chat__header--group {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 20px;
}

.window-chat__title {
    color: #000;
    font-family: 'Lato', sans-serif;
    /* font-family: 'Wix Madefor Text', sans-serif; */
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
}

.window-chat--ellipsis {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-height: 1.3em;
    height: 19px;
}

.window-chat__wrapper {
    display: flex;
}

.window-chat__main {
    display: flex;
    flex-direction: column;

    width: 100%;
    min-width: 400px;
}

.window-chat__frame {
    background-color: #d4ecd1;

    height: 100%;
}

.window-chat__right-sidebar {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: 340px;
    min-width: 286px;
    width: 100%;
}

.window-chat__bottom {
    margin-top: auto;
    padding: 20px;
}

.button-sidebar {
    align-self: flex-end;
    text-align: center;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    padding: 14px 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    background: linear-gradient(47deg, #02553D 0%, #50AE46 100.43%), #52B147;
}

.svg-icon {
    height: auto;
    line-height: 0px;
}

/* .svg-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f4f4;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: 1;
} */

/* animation */
@keyframes pulse {
  0%, 100% {
    opacity: 1;
    scale: 1.1;
  }
  50% {
    opacity: .5;
    scale: 1;
  }
}
@media (max-width: 1320px) {
    .window-chat__left-sidebar {
        max-width: 360px;
    }
    .window-chat__right-sidebar {
        max-width: 300px;
    }
}

@media (max-width: 1240px) {
    .container {
        padding: 200px 20px 45px 20px;
    }

    .window-chat__left-sidebar {
        display: none;
        /* visibility: hidden; */
    }

    .btn-back {
        display: block;
    }

    .window-chat__wrapper {
        position: relative;
    }

    .window-chat__right-sidebar {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
    }
}

@media (max-width: 840px) {
    .window-chat__main {
        min-width: 380px;
    }

    .window-chat__right-sidebar {
        width: 100%;
        max-width: unset;
    }

    .modal-addchat__items, .modal-adduser__items {
        height: 400px;
    }


    .window-chat__header--main {
        position: relative;
        gap: 10px;
        padding: 14px 16px;
    }

    .window-chat__info {
        column-gap: 10px;
    }

    .window-chat__group-btn {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 16px;
        top: 64px;
        background-color: #fff;
        box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.2);
        padding: 10px;
        border-radius: 5px;
    }

    .btn-more {
        display: block;
        margin-left: auto;
    }

}

@media (max-width: 800px) {
    .window-chat__main {
        min-width: 340px;
    }
}

/* old 700px */
@media (max-width: 766px) {
    .window-chat__main {
        min-width: unset;
    }

    .window-chat__header--list {
        padding: 16px;
    }

    .btn-closechat {
        display: block;
    }

    .window-chat {
        position: relative;
    }

    .window-chat__left-sidebar {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        width: 100%;
        max-width: unset;
    }

    .window-chat__item {
        padding: 14px 16px;
    }

    .window-chat__item--list {
        gap: 10px;
    }

    .window-chat__header--list {
        justify-content: space-between !important;
    }
}

@media (max-width: 460px) {
    /* .window-chat__header--main {
        position: relative;
        gap: 10px;
        padding: 14px 16px;
    }

    .window-chat__info {
        column-gap: 10px;
    }

    .window-chat__group-btn {
        display: none;
        flex-direction: column;
        position: absolute;
        right: 16px;
        top: 64px;
        background-color: #fff;
        box-shadow: 0px 0px 20px 0px rgba(34, 60, 80, 0.2);
        padding: 10px;
        border-radius: 5px;
    }

    .btn-more {
        display: block;
        margin-left: auto;
    } */

    .modal-addchat__wrap, .modal-adduser__wrap {
        width: 100%;
        top: 100px !important;
    }

    .modal-edit__wrap, .modal-delete__wrap {
        width: 100%;
    }
}



/* custom checkbox */
/* input[type="checkbox"]:checked, 
input[type="checkbox"]:not(:checked)
{
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label, 
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 18px;
    height: 18px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:checked + label:before, 
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 2px;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after, 
input[type="checkbox"]:not(:checked) + label:after {
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #e145a3;
    border-bottom: 4px solid #e145a3;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
} */